section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    h2{
        display: flex;
        justify-content: center;
    }
    p{
        display: flex;
        justify-content: center;
        text-align: center;
    }
}