h1, h2, p{
    color: grey;
}

body {
    font-family: sans-serif;
    overflow-x: hidden;
    background-color: #4d646f;
    display: flex;
    justify-content: center;
    .contentContainer {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 800px;
        background-color: white;
        margin-top: 30px;
        border-radius: 5px;
        min-height: 800px;
    }
}

@import "./header";
@import "./mainSection";

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid #4d646f;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    p{
        padding: 0;
        margin-top: 5px;
    }
}

.hide {
    display: none;
}

.show {
    display: block;
}